// ========================================
// Colours --------------------------------
// ========================================

// Functions

    // Slightly lighten a colour
    @function tint($color, $percentage) {
        @return mix(white, $color, $percentage);
    }

    // Slightly darken a colour
    @function shade($color, $percentage) {
        @return mix(black, $color, $percentage);
    }



// Global 
                                
    $body-color:            rgba(0,0,0,0.87);
    $body-bg:               #fefefe;


// Company Colours 

    $cc0:                   #1E88E5;
    $cc1:                   #0D47A1;
    $cc2:                   #FF0000;    


// Neutral Colours 

    $black:                 #232323;
    $white:                 #fefefe;


// links
    // overrides $link-color
    $cta:                   #0bb7d1;


// Override bootstrap colours
   @import 'bootstrap-overrides/bootstrap-colour-overrides';
