// ========================================
// Colours --------------------------------
// ========================================

// Functions

    // Slightly lighten a colour
    @function tint($color, $percentage) {
        @return mix(white, $color, $percentage);
    }

    // Slightly darken a colour
    @function shade($color, $percentage) {
        @return mix(black, $color, $percentage);
    }



// Global 
                                
    $body-color:            rgba(0,0,0,0.87);
    $body-bg:               #f9f9f9;


// Company Colours 

    $theme-1:                   #009b77;
    $theme-2:                   #0D47A1;
    $theme-3:                   #FF0000;    


// Neutral Colours 

    $black:                 #232323;
    $white:                 #fefefe;


// links
    // overrides $link-color
    $cta:                   $theme-1;


// Override bootstrap colours
   @import 'bootstrap-overrides/bootstrap-colour-overrides';
