// ========================================
// Load Fonts -----------------------------
// ========================================


$font-path:'/fonts/';

@mixin font-family($font-name, $font-path-name){

    @font-face { 
        font-family: '#{$font-name}';
        src: url('#{$font-path}#{$font-path-name}.eot'); /* IE9 Compat Modes */
        src: url('#{$font-path}#{$font-path-name}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('#{$font-path}#{$font-path-name}.woff2') format('woff2'), /* Super Modern Browsers */
             url('#{$font-path}#{$font-path-name}.woff') format('woff'), /* Modern Browsers */
             url('#{$font-path}#{$font-path-name}.ttf') format('truetype'), /* Safari, Android, iOS */
             url('#{$font-path}#{$font-path-name}.svg##{$font-name}') format('svg'); /* Legacy iOS */
        font-weight: normal;
        font-style: normal;
    }
}


// Dosis ==============================

    @include font-family(DosisExtraBold, dosis-extrabold-webfont);
    @include font-family(DosisBold, dosis-bold-webfont);

    @include font-family(DosisSemiBold, dosis-semibold-webfont);

    @include font-family(DosisMedium, dosis-medium-webfont);

    @include font-family(DosisLight, dosis-light-webfont);
    @include font-family(DosisExtraLight, dosis-extralight-webfont);
    

// Droid Serif ========================

    @include font-family(DroidSerif, DroidSerif-Regular-webfont);
    @include font-family(DroidSerifItalic, DroidSerif-Italic-webfont);

    @include font-family(DroidSerifBold, DroidSerif-Bold-webfont);
    @include font-family(DroidSerifBoldItalic, DroidSerif-Bold-webfont);




