// ========================================
// Product Gallery ------------------------
// ========================================

@if ($ecommerce) {
    #prodSlide {
        margin-top: 2rem;

        .carousel-indicators {
            position: relative;
            margin: 1rem 0;
            z-index: 1;

            li {
                width: 100%;
                height: auto;
                flex: auto;
                flex-basis: 0;
            }

            li.active {
                opacity: 0.5;
                cursor: default;
            }
        }
    }
}
