// ========================================
// Add Course ----------------------------
// ========================================


.hole-select{
    padding:  0.4rem 0 0;

    .form-check-inline{
        margin-right: 2rem;        
    }

    label{
        @include font-size(19px);
        padding-left: 0.3rem;
    }
}


.sss-yards-row{
    margin: 0;
    
    .col{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .white{
        border: 1px solid $border-color;
        border-right: none;
    }
}


.add-tee-box{

    button{
        @include font-size(24px);
        line-height: 1.5rem;
        padding: 1rem;
        border-radius :0;
        text-align: left;
        text-transform: none;
        margin-top: $vertical-rhythm;
        color: $body-color;

        &:hover, &:active, &:focus{
            color: $body-color;
        }
    }

    .collapse, .collapsing{
        background: $white;
        padding: 1.5rem;
        border-radius: 0;
        margin: 0 0 $vertical-rhythm;
        border: 1px solid $gray-400;
        border-top: none;
    }



    .add-course-row{
        @extend .align-items-center;
        @extend %number;
        margin: 0;
        text-align: center;
        background: $white;
        border-bottom: 1px solid $gray-200;
        line-height: 36px;
    
        h4{
            margin: 0;
        }
    
        .col{
            padding: 0.5rem;    
        }

        .col:first-child{
            text-align: right;
        }
    
    }

    .add-course-row:last-child{
        border-bottom: none;
    }


    .add-course-hole{
        font-weight: bold;
        background: shade($white, 5);
        //color:$white;
    }


}


.white-tees{
    button{
        border: 1px solid $gray-400; 
        background: $white;
        
        &:hover, &:active{
            border: 1px solid $gray-400;
            background: shade($white, 5);
        }
        &:focus{
            border: 1px solid $gray-400;
            background: $white;
            box-shadow: none;
        }
    }
}

.yellow-tees{
    button{
        background: $warning;
        
        &:hover, &:active{
            border: 1px solid transparent;
            background: shade($warning, 5);
        }   
        &:focus{
            border: 1px solid transparent;
            background: $warning;           
            box-shadow: none;
        }             
    }

    .add-course-hole{
        background: $warning;
    }        
}

.red-tees{
    button{
        background: $danger;

        &:hover, &:active{
            border: 1px solid transparent;
            background: shade($danger, 5);
        }   
        &:focus{
            border: 1px solid transparent;
            background: $danger;          
            box-shadow: none;
        }              
    }
    
    .add-course-hole{
        background: $danger;       
    }          
}










