// ========================================
// Pages ----------------------------------
// ========================================

// Style guide
@import 'styleguide'; 

// Homepage
   @import 'homepage'; 


// Add Course
   @import 'add_course'; 


// Add Course
   @import 'add_round'; 


// View Round
   @import 'view_round';