// ========================================
// Style Guide ----------------------------
// ========================================

.style-guide-colour{
    height: 100px;

    span {
        @include vertical-align();
        @extend %number;
        @extend %caps;
        display: block;
        width: 100%;
        text-align: center; 
        color: $white;
    }
}

.style-guide-colour.cc-0{background: $theme-1;}
.style-guide-colour.cc-1{background: $theme-2;}
.style-guide-colour.cc-2{background: $theme-3;}
.style-guide-colour.link-1{background: $link-color;}
.style-guide-colour.link-2{background: $link-hover-color;}

.number{@extend %number;} 

