// ========================================
// View Round -----------------------------
// ========================================

$ct-series-names: (a, b, c, d, e, f, g, h, i, j, k, l, m, n, o) !default;
$ct-series-colors: (
  $theme-1,
  $gray-200,
  #f4c63d,
  #d17905,
  #453d3f,
  #59922b,
  #0544d3,
  #6b0392,
  #f05b4f,
  #dda458,
  #eacf7d,
  #86797d,
  #b2c326,
  #6188e2,
  #a748ca
) !default;

.percent-counter{ 

    @include vertical-align(absolute);
    @include font-size(36px);
    left: 0;
    right: 0;
    text-align: center;
    margin: -18px 0 0;
    color: $theme-1;

    &:after{
        content:'%'
    }
}



.round-section{
    padding: 2rem 0;
}

.tee-box{  
    display: block;
    width: 40px;
    height:40px;
    
}

.tee-box.white{
    background: $white;
    border: 1px solid $gray-300;    
}

.tee-box.yellow{
    background: $warning;    
}

.tee-box.red{
    background: $danger;    
}

.round-total-row{
    @extend .align-items-center;
    @extend %number;
    line-height: 80px;

    .round-total-label{
        border: 1px solid $gray-200; 
        text-align: right;
        //background: $gray-200;
        background-size: 6px 6px !important;
        background: $gray-200;
        background-image:(linear-gradient(-45deg, transparent 46%, $gray-300 49%, $gray-300 51%, transparent 55%));
        height: 80px;

        h4{
            @include vertical-align();
            @include font-size(14px);
            @extend %text-base;
            margin: 0;
            padding-right: 1rem;
        }
    }

    .round-total{
        @extend %heading-base;
        height: 80px;
        border:1px solid $gray-300;
        border-left:none;
        color: $theme-1;
        span{
            @include font-size(40px);
        }
    }

}



.round-row{
    @extend %number;
    margin: 0;
    text-align: center;
    background: $white;
    border-bottom: 1px solid $gray-300;
    line-height: 36px;


    h4{
        margin: 0;
        line-height: 36px; 
    }

    .col{
        border-right: 1px solid $gray-300;    
    }

    .col:first-child{
        border-left: 1px solid $gray-300;
    }
}

.round-header-hole{
    background: shade($theme-1, 20);
    color:$white;
    border-color: shade($theme-1, 30);

    .col, .col:first-child{
        border-color: shade($theme-1, 30);
    }    
}

.round-header-par{
    background: $theme-1;
    color:$white;   
    border-color: shade($theme-1, 20);

    .col, .col:first-child{
        border-color: shade($theme-1, 20);
    }
}

.round-row-score{
    line-height: 60px;

    h4{
        line-height: 60px;
    }

    .col{
        span{
            @include vertical-align(); 
            position: relative;
            display: block;
            margin: 0 auto;
            line-height: 40px;
            width: 40px;
            height:40px;

            &:before{
                @include pseudo-cover();
                display: none;
                border:2px solid $theme-1;                    
            }
            &:after{
                @include pseudo-cover();
                display: none;
                border:2px solid $theme-1;
                top:4px;
                left:4px;
                right:4px;
                bottom:4px;                 
            }
        }

        .eagle, .birdie{
            &:before, &:after{
                border-radius: 50%;
            }
        }

        .eagle, .double-bogey{
            &:before, &:after{
                display: block;
            }
        }

        .birdie, .bogey{
            &:before{
                display: block;
            }            
        }        
    }
}

.round-key{
    @include font-size(12px);
    @extend %text-bold;
    background: none;
    border:0;
    line-height: 30px;
    margin: 0 -15px;
    text-align: center;

    .col{
        border:0;
        //line-height: 30px;

        span{
            transform: none;
            top: 10px;
            position: relative;
            display: inline-block;
            margin: 0 auto;
            //line-height: 30px;
            width: 30px;
            height:30px;

            &:before{
                @include pseudo-cover();
                display: none;
                border:2px solid $theme-1;                    
            }
            &:after{
                @include pseudo-cover();
                display: none;
                border:2px solid $theme-1;
                top:4px;
                left:4px;
                right:4px;
                bottom:4px;                 
            }
        }  
    } 
    .col:first-child{
        border: none;
    } 
}


.stat-total{
    @extend %heading-base;
    color: $theme-1;
}