// ========================================
// Header ---------------------------------
// ======================================== 

header {
    //@extend %header-shaddow;
    //height: $header-height;
    background: $white;
    border-bottom: 1px solid $gray-200;

    //background:$white;                                                     
    
    .logo-link{
        display: block;
        margin: 1rem auto;
        width: 450px;
    }


    @if ($header-fixed) {
        @include media-breakpoint-up(md) {     
            position: fixed;
            top: 0;
            left: 0;
            right: 0;      
            z-index: 99;
        }  
    }

    .nav{
        .nav-item{
            height: 64px;

            .nav-link{
                color: $body-color;
                padding: 1.3rem 1.6rem;
            }

            &:hover{
                background: $white;
            }
        }

        .logout-item{
            border: 1px solid $gray-200;
            border-top: none;
            border-bottom: none;
        }
    }

}