// ========================================
// Header ---------------------------------
// ======================================== 

header {
    @extend %header-shaddow;
    height: $header-height;
    background: $white;
    border-bottom: 3px solid $theme-1;

    background:$white;                                                     
    
    h1 {
        color: tint($black, 50%);                
    }


    @if ($header-fixed) {
        @include media-breakpoint-up(md) {     
            position: fixed;
            top: 0;
            left: 0;
            right: 0;      
            z-index: 99;
        }  
    }
}