// ========================================
// Page Structure -------------------------
// ========================================

// Bootstrap Overrides --------------------

    // Sets maximum page width in fluid layout
    .container-fluid {
        max-width: $page-width;
		margin: 0 auto;
    }

    // Pointers on hover
    button:hover, .carousel-indicators li {
        cursor: pointer;
    }

// ---------------------------------------

html {
    @include font-size(16px);

    @include media-breakpoint-up(md) {
        min-height: 100%;
        position: relative;
    }
}

body {
    background:$body-bg;
    color:$body-color;

    @include media-breakpoint-up(md) {
        min-height: 100%;
    }
}

#app{
    padding-top: $header-height;
    margin-top: 2px;
}

.page_wrapper {

    @include media-breakpoint-up(md) {
        min-height: 100%;
        height: 100%;
        -webkit-transform: none !important;
        transform: none !important;
        padding-bottom: $footer-height;

        @if ($header-fixed) {
            padding-top: calc($header-height + 1px);
        }
    }
}


.page-heading-holder{
    background: $theme-1;
    color: $white;
    padding: 2rem 0 0;
}