// ========================================
// Alerts ---------------------------------
// ========================================

.alert > .alert-link {
    @extend %text-bold;
}

.alert{
    @extend %number;
    padding-left: 3rem;
    position: relative;
    overflow: hidden;

    // remove margin from last <p> tag
    p:last-of-type {
        margin-bottom: 0;
    }

    // add icon for all heading tags
    @include headings(){
        margin-bottom: 0.5rem;
    }

        
        &:before{
            @extend .far;
            @include vertical-align(absolute);
            @include font-size(22px);           
            content: '\f06a';
            left: 0.5rem;
            z-index: 2;           
        }

        &:after{
            @include pseudo-cover;
            right: inherit;
            width: 2.5rem;
            z-index: 1;
            border-right-width: 1px;
            border-right-style: solid;
            border-right-color: inherit;
        }

}

    // slight adjustments according to heading size
    //h1{
    //    &:before{
            //right: calc(100% + 3px);
            //bottom: 3px;
    //    }
    //}

    //h6{
    //    &:before{
            //bottom: -2px;
    //    }
    //}    


// specify icons for alert types
.alert-success{
    &:before{
        content: '\f058';
    }
}

.alert-info{
    &:before{
        content: '\f05a';
    }
}

.alert-danger,
.alert-warning{
    &:before{
        content:'\f071';
    }
}