// ========================================
// Alerts ---------------------------------
// ========================================

.alert > .alert-link {
    @extend %text-bold;
}

.alert{
    @extend %number;
    //padding-left: 3rem;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding: 1rem 0; 
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;

    // remove margin from last <p> tag
    p:last-of-type {
        margin-bottom: 0;
    }

    // add icon for all heading tags
    @include headings(){
        margin-bottom: 0.5rem;
    }

    .container-fluid{ 
        position: relative;
        padding-left: 3.5rem;

        &:before{
            @extend .far;
            @include vertical-align(absolute);
            @include font-size(22px);           
            content: '\f06a';
            left: 1rem;
            z-index: 2;           
        }

        &:after{
            @include pseudo-cover;
            right: inherit;
            width: 3rem;
            z-index: 1;
            border-right-width: 1px;
            border-right-style: solid;
            border-right-color: inherit;
        }
        
    }   
}


    // slight adjustments according to heading size
    //h1{
    //    &:before{
            //right: calc(100% + 3px);
            //bottom: 3px;
    //    }
    //}

    //h6{
    //    &:before{
            //bottom: -2px;
    //    }
    //}    


// specify icons for alert types

.alert-success{

    border-color: tint($theme-1, 65);

    .container-fluid{

        border-color: tint($theme-1, 65);

        &:before{
            content: '\f058';
        }
    }
}

.alert-info{
    .container-fluid{
        &:before{
            content: '\f05a';
        }
    }
}

.alert-danger,
.alert-warning{
    .container-fluid{
        &:before{
            content:'\f071';
        }
    }
}
