// ========================================
// Carousel -------------------------------
// ========================================

@if ($carousel) {

    .tagline-carousel {
        height: $carousel-height;

        .carousel-inner {
            position:relative;
            height: 100%; 
        }

        .carousel-item{
            height: 100%; 
            
            .carousel-caption {
                display: table; 
                height: 100%;
                width: 70%;
                text-shadow: none;
                color: $body-color; 

                .caption-cell{
                    display: table-cell;
                    height: 100%;
                    vertical-align: middle;   
                } 
            } 

            h1{
                @extend %caps;
                @include font-size(80px);
                margin-bottom: 0;
                text-align: center;
                animation-delay: 1s; 
            }
        }

        .slide-1 { 
            background: $cta;   
            color:$white;
            background-size: cover;
        }

        .slide-2 {
            background: $gray-400;
            background-size: cover;
        }

        .slide-3 {
            background: $gray-600; 
            background-size: cover;       
        }

    }

    // Carousel fade transition
    .carousel-fade {
        .carousel-item {
            display: block;
            position: absolute;
            opacity: 0;
            transition: opacity 1.5s ease-in-out;  

            &.active {
                opacity: 1; 
            }
        }
    }

}
