// ========================================
// Tables ---------------------------------
// ========================================

.rr-head-row{
    div{
        border-top: 1px solid transparent; 
    }
}

.rr-row, .rr-head-row{
    @extend %number;
    margin: 0;
    text-align: center;
    //border-bottom: 1px solid $gray-300;
    line-height: 36px;

    h4, h5{
        margin: 0;
        line-height: 36px;
    }       

    div{
        border-bottom:1px solid transparent;
        border-left:1px solid transparent;
    }


    .rr-head{
        height: 100%;
        background: shade($theme-1, 20);
        color:$white;
        border-color: shade($theme-1, 30);
    }

    div:first-child{
        border-left: none;
    }

    .white{
        background: $white;
        color:$body-color;
        border-color: shade($white, 10%);
    }

    .yellow{
        background: $warning;
        color:$body-color;
        border-color: shade($warning, 10%);
    }

    .red{
        background: $danger;
        color: $white;
        border-color: shade($danger, 10%);
    }

    .fa-check{
        color:$theme-1; 
    }

    .fa-times{
        color: $danger;
    }

    .fa-minus{
        color: $gray-500;
    }    

}

div.rr-row:nth-child(even){
    background: shade($gray-100, 3%);
}   


.view-course{

    .rr-row{
        @include font-size(14px);
        line-height: 20px;

        h4{
            @include font-size(14px);
            line-height: 20px;
        }
    }

}

.view-round{

    .rr-head{
        border-left-color: transparent;
    }

}











.rr-table{
    text-align: center;

    th, td{
        vertical-align: middle;
    }

    th{
        @extend %text-bold;        
        background: $theme-1;
        color: $white;
    }

    tr:nth-child(even){
        background: shade($gray-100, 3%);
    }   

    .fa-check{
        color:$theme-1; 
    }

    .fa-times{
        color: $danger;
    }

    .fa-minus{
        color: $gray-500;
    }

    .total-row{
        background: $gray-300;
        color:$theme-1;
    }
}