// ========================================
// Variables ------------------------------
// ========================================

// Layout
$page-width:                1440px; 

$header-height:             64px;                  
$footer-height:             350px;

$carousel-height:           350px;