// ========================================
// Login ----------------------------------
// ========================================

@if ($ecommerce) {

    .login-register {
        .login-holder {
            height: 100%;
            position: relative;

            .btn-register {
                float: right;

                @include media-breakpoint-up(md) {
                    position: absolute;
                    right: 1rem;
                    bottom: 1rem;
                    float: none;
                }
            }

            .col-form-label {
                @include media-breakpoint-up(lg) {
                    text-align: right;
                }
            }
        }
    }

}
