// ========================================
// Settings -------------------------------
// ========================================


// Site settings

$cookies:                   true;
$ecommerce:                 true;
$header-fixed:              true;
$carousel:                  true;            


// Vendor (will also need to be removed/added in bundle.config.json) 

$magnific-popup:            true;
                            





     

                                    
